.Strategies {
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  
  .block {
    width: 250px;
    margin: 1rem;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .image-wrapper {
    height: 200px;
    overflow: hidden;
  }
  
  .image, .logo {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .logo {
    width: 20px
  }
  
  .title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .rating {
    color: #8ED1FC;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .rating span {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
    opacity: 0.5;
  }
  
  .rating span.filled {
    color: #ff9800;
  }
  